.gal {
  .bcg {
    background: url("../../../assets/pic1.png") 50% no-repeat;
    height: 90vh;
    width: 100%;
    .gal-btn {
      width: 600px;
      height: 100px;
      margin-left: 33%;
      margin-top: 650px;
      font-size: 30px;
      font-family: Roboto Slab;
      cursor: pointer;
      border: none;
      border-left: 3px solid #b2795b;
      border-right: 3px solid #b2795b;
      background-color: #fff;
      border-radius: 10px;
    }
    .gal-btn:hover {
      border: none;
      border-top: 3px solid #b2795b;
      border-bottom: 3px solid #b2795b;
      transition: all 0.2s ease-in-out 0s;
      border-radius: 20px;
    }
    .gal-btn:focus {
      outline: none;
    }
  }
}
