.kontakt {
  font-family: Roboto SLab;
  .kont-img {
    width: 350px;
    height: 150px;
    margin-bottom: 50px;
  }
  .kont-title {
    margin-bottom: 20px;
  }
  .kontakt-items {
    .kontakt-item {
      display: flex;
      justify-content: space-between;
      padding: 15px 0px;
      width: 100%;
    }
  }
}
