.lokacija {
  background-color: #efeff0;
  font-size: 15px;
}

.location-wrapper {
  display: flex;
}

.location-content {
  width: 50%;

  h1 {
    font-size: 30px;
    margin-left: 40px;
    width: 189px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b2795b;
    color: #b2795b;
  }

  p {
    color: #777;
    padding-left: 40px;
    padding-right: 20px;
    line-height: 35px;
  }

  .location-tekst {
    color: #777;
    line-height: 35px;
  }
}

ul li::before {
  content: "\2022";
  color: #b2795b;
  font-weight: bold;
  margin-left: -1em;
  width: 1em;
  margin-right: 10px;
}

.info-wrapper {
  width: 100%;
}

.info-1 {
  display: flex;
  font-size: 15px;
  margin-top: 50px;
  padding-left: 60px;

  .drugi {
    padding-left: 40px;
  }
}

.info-2 {
  display: flex;
  font-size: 15px;
  margin-top: 50px;
  padding-left: 60px;
  padding-right: 20px;
}
