.descrip {
  font-size: 22px;
  line-height: 29px;
  color: #9C9FA5;
  display: inline-block;
}

.title {
  font-size: 30px;
  line-height: 40px;
  color: #4E5054;
  margin: 15px auto auto 0px;
}

.about {
  font-size: 18px;
  line-height: 24px;
  color: #929299;
}

.grey {
  font-size: 18px;
  line-height: 21px;
  color: #9C9FA5;
}

.bold {
  color: #4E5054;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-left: 22px;
}

.bold-no-margin {
  margin-left: 0px;
}

.page-container {
  width: 834px;
  margin: 0 auto;
}
