@import "../../styles/common/_helpers.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  position: relative;
  z-index: 2;

  @include for-phone {
    height: 120px;
  }
  .logo-area {
    padding-left: 25px;
  //height: 710px;
  //background-color: #F0F1F5;
  //width: 10px;

  }

  nav {
    padding-right: 5%;
    background-size: cover;
    flex: 1;
    text-align: right;

    @include for-md-bigger-screen {
      padding-right: 3%;
    }

    @include for-sm-screen {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 120px;
      padding-left: 430px;
    }

    @include for-phone {
      padding-left: 170px;
      padding-top: 90px;
    }

    @include for-iphone {
      padding-left: 140px;
    }

    @include for-sm-phone {
      padding-left: 120px;
    }
  //background-color: #F0F1F5;
  //height: 113px;

    a {
      text-decoration: none;
      width: 89px;
      height: 24px;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #000;
      padding: 25px;

      @include for-phone-landscape {
        padding: 15px;
      }

      @include for-sm-screen {
        padding: 5px;
        font-size: 11px;
      }

      @include for-phone {
        width: 140px;
        padding: 0px;
      }
    }
    a:hover {
      border-bottom: 2px solid #000;
      font-weight: bold;
    }
  }
}
