@import "../../styles/common/_helpers.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;

  @include for-iPad {
    flex-direction: row;
    padding-top: 50px;
  }

  @include for-phone {
  }

  .logo-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 40px;
    height: 100px;
    width: 12%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 7px 2px 49px -16px rgba(51,56,63,1);
    position: relative;
    z-index: 2;
    text-align: center;

    p {
      font-size: 11px;
      padding-bottom: 10px;
      border-bottom: 4px solid black;
    }

    @include for-iPad {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 20px;
    }

    .logo-header {
      width: 100%;
      padding-bottom: 10px;

      @include for-iPad {
        width: 100px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 99px;
    text-align: center;
    width: 88%;
    background-color: #FFF;
    border-bottom: 40px solid #b2795b;

    @include for-md-bigger-screen {
    }

    @include for-iPad {
    }

    a {
      text-decoration: none;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #777;

      @include for-phone-landscape {
        padding: 15px;
      }

      @include for-sm-screen {
        padding: 5px;
        font-size: 11px;
      }

      @include for-phone {
        width: 140px;
        padding: 0px;
      }
    }
    a:hover {
      font-weight: bold;
      transition: color 0.4s ease-in-out;
      border-bottom: 4px solid #30373f;
      position: relative;
    }

    @include for-iPad {
      transition: all 420ms cubic-bezier(.165,.84,.44,1);
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.3);
      left: 0;
      top: -580px;
      z-index: 3;
      border-bottom: 2px solid #F0F0F0;

      a {
        font-size: 20px;
        width: 200px;
        color: #FFF;
        margin-bottom: 35px;

        &.active { text-decoration: none; }

        &:not(:last-child) { margin-right: 0; }
      }
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    float: right;
    padding: 12px;
    position: relative;
    user-select: none;
    z-index: 3;
    margin-right: 20px;

    @include for-iPad {
      display: block;
    }

    .navicon {
      background: black;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;

      &:before, &:after {
        background: black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }

      &:before { top: 5px; }
      &:after { top: -5px; }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ {

      nav {
        top: 0;
      }

      .menu-icon {
        z-index: 5;

        .navicon {
          background: transparent;

          &:before { transform: rotate(-45deg); }
          &:after { transform: rotate(45deg); }
        }

        &:not(.steps) .navicon {
          &:before, &:after { top: 0; }
        }
      }
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }
}
