@import "../../../styles/common/_helpers.scss";

.home-page {
  font-family: Roboto Slab;
  height: 5178px;
  .hero-section {
    background: url('../../../assets/banner.png') 70% 15% no-repeat;
    background-size: cover;
    width: calc(100% - 113px);
    margin-left: auto;
    height: 850px;
    position: relative;
    top: -113px;
    z-index: 1;
    box-shadow: 0 7px 2px -2px #909090;

    @include for-iPad {
      background-position: top;
    }

    @include for-phone {
      width: auto;
      top: -120px;
      height: 700px;
    }
  }
  .bg-content {
    text-align: left;
    padding: 100px;

    @include for-iPad {
      padding-left: 20px;
    }

    @include for-iphone {
      padding-bottom: 31px;
      padding-right: 0px;
    }

    .bg-title {
      margin-top: 490px;
      width: 825px;
      height: 63px;
      font-weight: bold;
      font-size: 48px;
      line-height: 63px;
      color: #FFF;

      @include for-iPadPro {
        width: 100%;
        font-size: 40px;
      }

      @include for-phone-landscape {
        font-size: 29px;
      }

      @include for-iPad {
        font-size: 26px;
      }

      @include for-sm-screen {
        line-height: 45px;
      }

      @include for-phone {
        margin-top: 360px;
        line-height: 35px;
      }
    }

    .bg-button {
      display: block;
      margin-top: 80px;
      text-decoration: none;
      width: 171px;
      height: 46px;
      background: #F0F1F5;
      border: none;
      color: #000;
      line-height: 21px;
      font-size: 18px;
      text-align: center;
      padding-top: 20px;
    }
    .bg-button:hover {
      color: #fff !important;
      background: #000;
      border-color: #f0f0f0 !important;
      border-radius: 5px;
      transition: all 0.4s ease 0s;
    }
  }

  .content-2 {
    display: flex;
    margin-bottom: 80px;

    @include for-phone {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .content-2-text {

      text-align: left;
      .content-2-descrip {
          display: inline-block;
      }
      .content-2-title {
        height: 80px;
        margin-bottom: 20px !important;
        margin-top: 15px !important;
      }
      .content-2-par {
        width: 400px;
        height: 120px;

        @include for-sm-screen {
          width: 320px;
        }
      }
    }
    .content-2-img {
      background: url('../../../assets/logo1.png');
      background-repeat: no-repeat;
      width: 434px;
      background-size: contain;
      background-position: center;

      @include for-phone {
        height: 192px;
        width: 374px;
      }

      @include for-sm-phone {
        width: 335px;
      }
    }
  }

  .lamele {
    margin-bottom: 200px;
    .lamele-title {
      margin-left: 100px;
      margin-bottom: 30px;

      @include for-sm-screen {
        margin-left: 20px;
      }

      .lamele-h1 {
        width: 91px;
        height: 29px;
        display: inline-block;
      }
    }
    .lamele-content {
      display: flex;
      width: 100%;

      @include for-phone {
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .lamela-title {
        height: 33px;
        font-size: 25px;
        line-height: 33px;
        color: #FFFFFF;
        margin-top: 90px;
        margin-bottom: 20px;
        margin-left: 40px;

        @include for-iPad {
          margin-left: 20px;
        }
      }

      .lamela-link {
        text-decoration: none;
        width: 114px;
        height: 26px;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
        margin-left: 40px;

        @include for-phone-landscape {
          font-size: 12px;
        }

        @include for-iPad {
          margin-left: 20px;
        }

        @include for-sm-screen {
          font-size: 8px;
        }

        @include for-phone {
          font-size: 20px;
        }
      }
      .lamela-link:hover {
        color: #000;
        transition: all 0.2s ease 0s;
        font-size: 25px;
      }
      .lamela-arrow {
        margin-left: 17px;
        vertical-align: middle;
      }
      .lamele-item-1{
        background: url('../../../assets/lamela1.png') no-repeat;
        width: 25%;
        height: 200px;
        background-size: cover;
        padding-top: 293px;

        @include for-phone-landscape {
          padding-top: 193px;
        }

        @include for-phone {
          width: 100%;
        }
      }
      .lamele-item-2{
        background: url('../../../assets/lamela2.png') no-repeat;
        width: 25%;
        height: 200px;
        background-size: cover;
        padding-top: 293px;

        @include for-phone-landscape {
          padding-top: 193px;
        }

        @include for-phone {
          width: 100%;
        }
      }
      .lamele-item-3{
        background: url('../../../assets/lamela3.png') no-repeat;
        width: 25%;
        height: 200px;
        background-size: cover;
        padding-top: 293px;

        @include for-phone-landscape {
          padding-top: 193px;
        }

        @include for-phone {
          width: 100%;
        }
      }
      .lamele-item-4{
        background: url('../../../assets/lamela4.png') no-repeat;
        width: 25%;
        height: 200px;
        background-size: cover;
        padding-top: 293px;

        @include for-phone-landscape {
          padding-top: 193px;
        }

        @include for-phone {
          width: 100%;
        }
      }
    }
  }

  .info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .projekat {
      display: flex;
      margin: 0px auto;
      width: 890px;

      @include for-iPadPro {
        width: 100%;
      }

      @include for-phone-landscape {
        align-items: center;
      }

      @include for-phone {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .projekat-img {
        background: url('../../../assets/projekat-img.png') no-repeat;
        width: 477px;
        height: 390px;
        position: relative;
        top: -45px;

        @include for-phone-landscape {
          position: static;
          width: 397px;
        }

        @include for-phone {
          width: 100%;
        }
      }
      .projekat-text {
        position: relative;
        left: -73px;
        padding-left: 28px;
        padding-bottom: 11px;
        width: 430px;
        height: 300px;
        background: #F0F1F5;
        box-shadow: 0 6px 2px -2px gray;

        @include for-phone-landscape {
          position: static;
        }

        @include for-iPad {
          width: 380px;
        }

        @include for-sm-screen {
          width: 320px;
        }

        @include for-phone {
          padding-left: 14px;
          padding-right: 14px;
          position: relative;
          left: 0;
          bottom: 73px;
        }

        .projekat-descrip {
          display: inline-block;
          width: 115px;
          height: 29px;
          margin-left: 22px;
          margin-top: 39px;
          margin-bottom: 1px;
        }
        .projekat-title {
          width: 320px;
          height: 80px;
          margin-bottom: 15px;
        }
        .projekat-about {
          width: 400px;
          height: 120px;

          @include for-iPad {
            width: 350px;
            font-size: 14px;
          }

          @include for-sm-screen {
            width: 100%;
          }
        }
      }
    }

    .lokacija {
      display: flex;
      align-items: center;
      margin: 0px auto;
      width: 1080px;
      margin-top: 80px;

      @include for-iPadPro {
        width: 100%;
      }

      @include for-phone {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
      }

      .lokacija-text {
        position: relative;
        left: 73px;
        padding-left: 28px;
        padding-bottom: 11px;
        width: 430px;
        height: 300px;
        background: #F0F1F5;
        z-index: 1;
        box-shadow: 0 6px 2px -2px gray;

        @include for-phone-landscape {
          position: static;
        }

        @include for-iPad {
          width: 380px;
        }

        @include for-sm-screen {
          width: 320px;
        }

        @include for-phone {
          padding-left: 14px;
          padding-right: 14px;
          position: relative;
          left: 0;
          top: 73px;
        }

        .lokacija-descrip {
          display: inline-block;
          width: 115px;
          height: 29px;
          margin-left: 22px;
          margin-top: 39px;
          margin-bottom: 1px;
        }
        .lokacija-title {
          width: 320px;
          height: 80px;
          margin-bottom: 20px;

          @include for-sm-screen {
            width: 300px;
          }
        }
        .lokacija-about {
          width: 400px;
          height: 120px;

          @include for-iPad {
            width: 350px;
            font-size: 14px;
          }

          @include for-sm-screen {
            width: 100%;
          }
        }
      }
    }
  }
  .prodaja {
    margin-top: 105px;
    background: url('../../../assets/prodaja-banner.png') no-repeat;
    margin: 150px auto;

    @include for-phone {
      margin-bottom: 0;
    }

    .overlay {
      z-index: 1;
      height: 353px;
      background: rgba(0, 0, 0, .7);
    }
    .prodaja-title {
      z-index: 2;
      margin-bottom: 35px;

      @include for-iphone {
        padding-left: 20px;
      }
      .f {
        border-color: #fff;
      }
      .prodaja-h1 {
        display: inline-block;
        margin-top: 82px;
        color: #fff;
      }
      .prodaja-name {
        color: #fff;
      }
    }
    .prodaja-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      display: flex;
      text-align: center;

      .prodaja-item {
        width: 264px;
        height: 301px;
        background: #FFFFFF;
        box-shadow: 0 6px 2px -2px gray;

        @include for-phone-landscape {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 214px;
        }

        @include for-iPad {
          width: 220px;
        }

        @include for-sm-screen {
          width: 190px;
          height: 260px;
        }

        @include for-phone {
          width: 120px;
          height: 200px;
        }

        @include for-iphone {
          width: 115px;
        }

        @include for-sm-phone {
          width: 105px;
        }

        .prodaja-img {
          margin: 60px 100px 36px 100px;

          @include for-phone-landscape {
            margin: 0 0 35px 0;
          }

          @include for-phone {
            margin: 0 0 15px 0;
          }
        }

        .prodaja-text {
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          margin-bottom: 36px;

          @include for-phone {
            margin-bottom: 25px;
          }

          @include for-sm-phone {
            font-size: 10px;
          }
        }
        .prodaja-link {
          text-decoration: none;
          width: 110px;
          height: 33px;
          border: 1px solid #BABBC0;
          box-sizing: border-box;
          font-size: 12px;
          font-family: Roboto;
          font-weight: bold;
          line-height: 14px;
          color: #94949C;
          padding: 10px 19px;

          @include for-phone-landscape {
            font-size: 10px;
          }

          @include for-sm-phone {
            width: 90px;
            font-size: 8px;
          }
        }
      }
    }
    .prodaja-stanovi {
      height: 995px;
      background: #F0F0F0;

      @include for-phone {
        height: 865px;
      }

      .prodaja-stanovi-title {
        padding-top: 220px;

        @include for-phone {
          padding-top: 150px;
        }

        @include for-iphone {
          padding-left: 20px;
        }

          .stan-tip-h1 {
            display: inline-block;
          }
      }
      .prodaja-stan {
        margin-top: 64px;
        margin-bottom: 100px;

        .prodaja-stan-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 834px;
          height: 75px;
          background-color: #fff;
          margin: 24px auto;
          box-shadow: 0 6px 2px -2px gray;

          @include for-phone-landscape {
            width: auto;
          }

          @include for-iPad {
            width: 700px;
          }

          @include for-sm-screen {
            width: 600px;
          }

          @include for-phone {
            width: 374px;
          }

          @include for-iphone {
            width: 355px;
          }

          @include for-sm-phone {
            width: 335px;
          }

          span {
            padding: 0px 20px;
          }
        }
      }
    }
    .prodaja-stanovi-linkovi {
      display:flex;
      justify-content: space-around;
      .prodaja-stan-link {
        width: 264px;
        height: 338px;
        box-shadow: 0 6px 2px -2px #B0B0B0;

        @include for-iPad {
          width: 210px;
        }

        @include for-sm-screen {
          width: 190px;
        }

        @include for-phone {
          width: 110px;
          height: 270px;
        }

        .prodaja-stan-h1{
          margin: 218px auto 16px 31px;
          font-size: 25px;
          line-height: 33px;
          color: #FFF;

          @include for-iPad {
            margin-left: 20px;
          }

          @include for-phone {
            margin: 160px auto 16px 10px;
          }
        }

        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          color: #FFF;
          margin-left: 31px;

          @include for-phone-landscape {
            font-size: 12px;
          }

          @include for-iPad {
            margin-left: 20px;
          }

          @include for-sm-screen {
            font-size: 8px;
          }

          @include for-phone {
            margin-left: 10px;
            font-size: 10px;
          }
        }
        .arrow {
          margin-left: 17px;
          vertical-align: middle;

          @include for-phone {
            margin-left: 10px;
          }
        }
      }
      .stan1 {
        background: url('../../../assets/stan_1.png') no-repeat;
        background-position: center;
      }
      .stan2 {
        background: url('../../../assets/stan_2.png') no-repeat;
        background-position: center;
      }
      .stan3 {
        background: url('../../../assets/stan_3.png') no-repeat;
        background-position: center;
      }
    }
  }
}
