@import "../../../styles/common/_helpers.scss";

.pstanova {
  font-family: Roboto SLab;
  .stanovi {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 150px;
    .stan-tip {
      height: 500px;
      width: 340px;
      .stan-img {
        height: 320px;
        width: 340px;
        box-shadow: 7px 2px 49px -16px rgba(51,56,63,1);
      }
      .stan-about {
        margin-left: 70px;
        margin-top: 30px;
        border-left: 2px solid #b2795b;
        padding-left: 20px;
        .stan-title {
          font-size: 30px;
          margin-bottom: 20px;
        }
        .kvadratura {
          font-size: 20px;
          margin-bottom: 55px;
        }
        .stan-link {
          text-decoration: none;
          color: #b2795b;
          font-weight: bold;
        }
      }
    }
  }
}
